# Entorno virtual
venv/
env/

# Archivos de configuración y datos sensibles
.env

# Archivos compilados de Python
__pycache__/
*.py[cod]
*$py.class

# Configuración de editores de texto
.vscode/
.idea/

# Archivos de log y datos temporales
*.log
*.sqlite3

# Archivos de empaquetado
*.egg
*.egg-info/
dist/
build/
wheels/

# Archivos de base de datos y migraciones
*.db
migrations/

# Archivos de Docker
docker-compose.yml
Dockerfile

# Archivos de JetBrains IDE (PyCharm, IntelliJ)
*.iml
.idea/